appdirs==1.4.4
asgiref==3.3.4
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.6.20
cffi==1.14.6
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cors==1.0.1
coverage==5.5
dill==0.3.3
distlib==0.3.2
# Editable install with no version control (Django==3.2.4)
djangorestframework==3.12.4
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
future==0.18.2
gevent==21.8.0
googletrans==3.0.0
greenlet==1.1.1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
jaconv==0.3
Jinja2==2.11.2
klepto==0.2.0
MarkupSafe==1.1.1
mock==4.0.3
numpy==1.20.2
openpyxl==3.0.7
packaging==20.9
pandas==1.2.4
pbr==5.6.0
pluggy==0.13.1
pox==0.2.9
py==1.10.0
py-translate==1.0.3
pycparser==2.20
PyJWT==1.7.1
pykakasi==2.0.6
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.2.3
python-arango==7.0.1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.24.0
requests-file==1.5.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
setuptools-scm==6.0.1
six==1.15.0
sniffio==1.2.0
sqlparse==0.4.1
stevedore==3.3.0
tldextract==3.1.0
toml==0.10.2
urllib3==1.25.10
virtualenv==20.4.7
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
Werkzeug==1.0.1
xlrd==2.0.1
zope.event==4.5.0
zope.interface==5.4.0
